@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}


    <div class="container">
        <div style="background: #ffff; padding: 30px; border-radius: 10px;  max-width:1000px; margin:auto; margin-top:50px">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <form class="text-center" method="post">
                        <img src="~/Images/PCM-neg.png" height="150" class="mb-3 mt-3" />
                        <h4>Iniciar sesión</h4>
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Input.User" class="form-control" placeholder="Usuario" required />
                            <span asp-validation-for="Input.User" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Input.Password" class="form-control mb-5" placeholder="Contraseña" required />
                            <span asp-validation-for="Input.Password" class="text-danger" contextmenu="La contraseña es requerida"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Olvido su contraseña?</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col-5 d-none d-xl-block d-lg-block border-left" style="margin:auto">
                    <img src="~/Images/Login.png" height="300" alt="" />
                </div>
            </div>
            
        </div>
            

    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
