@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<div class="container text-center">
    <h3 class="text-white">@ViewData["Title"]</h3>
    <p class="text-white">Ha cerrado sesión exitosamente.</p>
</div>