@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Creacion de Usuario";
}

<div class="container text-center">
    <h1 class="text-white">
        Usuario creado exitosamente.
    </h1>    
</div>    

    
   

