@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion reinicio de contraseña";
}

<div class="container text-center">
    <h3 class="text-white">@ViewData["Title"]</h3>
</div>

<div class="container text-center">
    <div style="background: #fff; padding: 30px; border-radius: 10px; margin:auto">
        <p>
            Su contraseña fue reiniciada exitosamente.
        </p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-outline-success" asp-page="./Login"> click aqui para iniciar sesión</a>

        }

    </div>
</div>



