@page "{UserFP?}"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reiniciar contraseña";
}

<div class="container text-center">
    <h3 class="text-white">@ViewData["Title"]</h3>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4m">
            <form method="post" style="background: #fff; padding: 30px; border-radius: 10px;  max-width:400px">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.User" type="hidden" />
                <div class="form-group">
                    <p>Para Cambiar la clave de usuario favor responda a la sigiente pregunta de seguridad.</>
                </div>
                <input asp-for="Input.securityQuestion" type="hidden" />
                <div class="form-group">
                    <p>@Model.Input.securityQuestion</p>
                </div>
                <div class="form-group">
                    @if (!(Model.UserRole == PCM.DTO.DTOModels.Role.Admin))
                    {
                        <input asp-for="Input.securityAnswer" class="form-control" placeholder="Respuesta de seguridad." />
                        <span asp-validation-for="Input.securityAnswer" class="text-danger"></span>
                    }
                    else
                    {
                        <input disabled asp-for="Input.securityAnswer" class="form-control" placeholder="Respuesta de seguridad." />
                        <span asp-validation-for="Input.securityAnswer" class="text-danger"></span>
                    }
                </div>
                <div>
                    <p>Favor introduzca la nueva contraseña</p>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Nueva contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirmar contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reiniciar</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
