@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Borrar cuenta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-white">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">        
            <strong class="text-white">Esto eliminara su cuenta y no se puede revertir.</strong>       
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}