@page
@model PCM.UI.Pages.ConnectionErrorModel
@{
}
    <div class="container">
        <h1 class="text-white">@ViewData["Title"]</h1>
    </div>}

<div class="container">

    <div style="background: #ffff; padding: 30px; border-radius: 10px;  max-width:1000px; margin:auto; margin-top:20px">
        <h1 class="text-danger">Error de conexión a la base de datos.</h1>
        <h2 class="text-danger">A ocurrido un error al tratar de conectar a la base de datos.</h2>
        <p>
            Favor comuniquese con el proveedor si el problema perciste.
        </p>
    </div>

</div>

