@page
@using PCM.DTO.DTOModels
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Pagina de inicio";
}

<body>
    <section id="hero">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                    <div data-aos="zoom-out">
                        <h1><span>Patient Consultation Manager </span></h1>
                        <h2>Gracias por preferir Patient Consultation Manager.</h2>

                        @if (Model.UserCount <= 0)
                        {
                            <a class="btn-get-started scrollto" asp-area="Identity" asp-page="/Account/Register">Configuración Inicial</a>

                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (Model.user.Role == Role.Admin)
                            {
                                <a class="btn-get-started scrollto mt-1" asp-area="Identity" asp-page="/Account/Register">Crear Usuario</a>
                                <a class="btn-get-started scrollto mt-1" asp-page="/ManageAccounts">Manejar Usuarios</a>
                                <a class="btn-get-started scrollto mt-1" asp-page="/AddARS">ARS</a>
                                <a class="btn-get-started scrollto mt-1" asp-page="/ManageEntities">Entidad</a>
                                <a class="btn-get-started scrollto mt-1" asp-page="/Logger">Logger</a>
                            }
                        }

                    </div>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="300">
                        <img src="~/Images/Table with doctor.png" class="img-fluid animated" alt="">
                    </div>
                }
                else
                {
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="300">
                        <img src="~/Images/table.png" class="img-fluid animated" alt="">
                    </div>

                }
            </div>
        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
            </g>
        </svg>

    </section>

</body>

