@page
@model PCM.UI.Pages.Shared.InsertPatienConfirmationModel
@{
    ViewData["Title"] = "Confirmación de inserción de paciente";
}
<div class="container">
    <h1 class="text-white">
        Paciente insertado exitosamente.
    </h1>   
</div>
