@page
@model PCM.UI.Pages.Shared.NotAllowedModel
@{
    ViewData["Title"] = "No permitido";
}

<div class="container">

    <div style="background: #ffff; padding: 30px; border-radius: 10px;  max-width:1000px; margin:auto; margin-top:20px">
        <h1 class=" text-center text-danger">@ViewData["Title"]</h1>

        <h1 class=" text-center">No tiene acceso a esta pagina.</h1>
    </div>

</div>
